<%- include("partials/header") %>

<h1 style="font-weight: bold ;padding: 40px; "  >INSTRUCTIONS</h1>

<div>
  <ol>
    <li>Click On The Signup Option To Add Yourself Into The Website </li>
    
    <li>Click On Login To see new Profiles</li>
    
    <li>Add Profile Information using Add Profile Option</li>
    
    <li>You can edit and delete when logged in </li>


  </ol>
</div>



<a id="page1" href="/campgrounds">view all campgrounds</a>


<style>

#page1{

border: 2px solid black;
margin-left: 20px;
}

</style>