<%- include("../partials/header") %>
 <div >
  
  
   
    <p class="btn btn-lr">
    <a  href="/campgrounds/new">Add your Profile</a>
    </p>
    
  </div>

<p id="none"></p>


  <p id="none"></p>

<div id="diss">

<% campgrounds.forEach(function(campground){ %>


</div>
<div id="display" >  

<h4><%= campground.name %></h4>
  <img src=" <%= campground.image %>" />
  <p>
    <a href="/campgrounds/<%= campground._id.toString() %>" class="btn btn-primary">more info</a>
  </p>
</div>
</div>

</div>
  </div>
  </div>

<% }); %>



<style>



  #jumbo1{
    width: 500px;
    height: 250px;
    
    align-items: baseline;
  }
  #button {
    background-color: rgb(208, 216, 216);
    margin: auto;
    padding: 5px;
    height: 50px;
    width: 250px;
    border: rgb(208, 208, 211) 1px solid;
    font-size: larger;
    font-weight: bolder;
    color: rgb(24, 26, 26);
    text-decoration: darkgrey;
    margin-top: 50px;
    border: rgb(48, 53, 53) 1px solid;
  }
  #none{
    float: none;
  }

</style>